/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section,
.right-section {
    flex: 1;
    padding: 20px;
}

.left-section {
    border-right: 1px solid #ddd;
}

.left-section h2{
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid blue;
    width: 125px;
}

.right-section h2 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid blue;
    width: 47px;
}

.left-section p,
.right-section p,
.right-section ul {
    color: #555;
}

.left-section h3 {
    color: #555;
}

.left-section img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.right-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.right-section ul li {
    margin-bottom: 10px;
} */


:root {
    --primary-color: #0056b3; 
    --secondary-color: #ffc107; 
    --tertiary-color: #f8f9fa; 
    --nav-text-color: white;
    --nav-scrolled-text-color: black;
    --offcanvas-bg-color: #f8f9fa;
    --link-hover-color: #007bff;
}

/* Main Navbar Styles */
.navbar-brand img {
    height: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: var(--tertiary-color);
}


.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-toggler-icon {
    color: var(--nav-scrolled-text-color);
}

.nav-link {
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--link-hover-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--link-hover-color);
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: var(--link-hover-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    animation: fadeIn 0.5s;
}

.offcanvas-body {
    padding: 1rem;
    background-color: var(--offcanvas-bg-color);
}

.offcanvas .item-nav {
    padding: 10px 0; 
}

.offcanvas .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offcanvas .link-nav {
    color: var(--nav-scrolled-text-color);
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    transition: color 0.3s;
}

.offcanvas .link-nav:hover,
.offcanvas .link-nav:focus {
    color: var(--link-hover-color);
    transform: translateX(5px);
    transition: transform 0.3s;
}

.offcanvas .btn-primary {
    background-color: var(--link-hover-color);
    border-color: var(--link-hover-color);
}


.dropdown-menu {
    border-radius: 0;
}

.offcanvas .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: none;
}

.offcanvas .navbar-nav .dropdown-item {
    border-radius: 0;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background 0.5s;
}

.carousel-caption h3 {
    font-size: 3rem;
    text-align: center;
}

.carousel-caption.scrolled {
    background: none;
}

.card img.berita-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-title i {
    margin-right: 10px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.post-meta {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.post-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.berita-img {
    height: 200px;
    object-fit: cover;
}

/* Kategori */
#berita-kategori {
    background-color: #f8f9fa;
    padding: 30px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    transition: transform 0.3s;
    width: 100%;
    height: auto;
}

.img-container:hover img {
    transform: scale(1.1);
}

.img-container .overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Kerjasama */
#mitra-pnb .img-kerjasama img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 300px; /* buat atur logonya cuy*/
}

#mitra-pnb .mitra-card {
    filter: grayscale(100%);
    transition: filter 0.3s;
}

#mitra-pnb .mitra-card:hover {
    filter: grayscale(0%);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer .social-icons a {
    color: var(--primary-color);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: var(--secondary-color);
}

footer .container p {
    margin: 0;
}

footer .iframe-container {
    position: relative;
    width: 100%;
    height: 300px;
}

footer iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

